<div class="bg-slate-300 rounded-2xl shadow-lg m-1">
  <header class="text-gray-600 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
        <img src="https://img.icons8.com/?size=100&id=35583&format=png&color=000000" alt="">
        <span class="ml-5 text-2xl font-semibold">Health Challenge Tracker</span>
      </a>
      <nav *ngIf="showNav" class="md:ml-auto flex flex-wrap items-center text-base justify-center">
        <a routerLink="add-workout" class="mr-7 font-mono text-lg text-gray-800 hover:text-gray-950 cursor-pointer">Add-Workout</a>
        <a routerLink="workout-list" class="mr-7 font-mono text-lg text-gray-800 hover:text-gray-950 cursor-pointer">Workout-List</a>
        <a routerLink="workout-progress" class="mr-7 font-mono text-lg text-gray-800 hover:text-gray-950 cursor-pointer">Progress</a>
        <a routerLink="">
          <button class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">Back To Homepage➡️</button>
        </a>
      </nav>
    </div>
  </header>
</div>



<div class="container">
  <router-outlet></router-outlet>
</div>
